.edulinkempt {
  background-color: #7c7c7c;
  border: 0px;
  color: #b8b8b8;
  margin-right: 6px;
  padding: 2px 14px;
  font-size: 16px;
}
.noconempty {
  color: #ffffffde;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
  height: 30px;
}

.storedtd {
  width: 96%;
  text-align: left;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f9f6d0;
  border-radius: 10px;
}
.todcommnt {
  font-size: 18px;
  font-weight: 600;
}
.todidstyl {
  font-size: 14px;
}

/*/////////////////////TOD Style////////////////////*/
#preTD {
  width: 100%;
  padding: 10px;
  max-width: 1000px;
  text-align: justify;
}

#info,
#preFoot {
  float: left;
  background-color: #e6e6e6;
  border-radius: 10px;
  width: 100%;
}
#previewPostTitle {
  padding-left: 10px;
}
#preview {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 40000;
  background: white;
  display: none;
  overflow-y: auto;
}

.tx {
  display: inline-block;
  padding: 10px;
}

#avthumb:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 1px 4px 0 #0c09c9;
  border-radius: 50%;
}

.youvidF {
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  height: 460px;
  cursor: pointer;
  text-align: center;
}
.yvtd {
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 350px;
  cursor: pointer;
  text-align: center;
}
.yvtd iframe {
  padding: 20px;
}
.if-resp {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.if-resp iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ForTypePs {
  float: left;
  padding: 6px;
  background: transparent;
  margin: 4px;
  width: 32%;
}

.ForTypePm {
  float: right;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  padding: 6px;
  margin: 4px;
  width: 50%;
}

.youvidF:focus {
  border: 2px solid #008000;
}

.limg {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}
.todBody {
  width: 100%;
  max-width: 1000px;
  overflow-x: auto;
  margin-bottom: 10px;
  text-align: left;
}

.closeprevtd {
  padding: 6px 16px;
  color: white;
  background-color: #cc0707;
  cursor: pointer;
  z-index: 400;
}

#previewPostCreator {
  font-size: 20px;
  font-weight: 400;
}
/*//////////////// Check Result////////////*/

#scrbrd {
  z-index: 400;
  margin-top: 3vh;
  max-width: 500px;
  display: none;
}
#crtans {
  height: 160px;
  overflow-y: auto;
  padding: 5px !important;
  padding-left: 10px !important;
  box-shadow: 0px 5px 15px 0px #03187e5d;
  border-top: 4px solid #0c09c9;
  padding-bottom: 0px !important;
}
#scrbrd h4 {
  font-size: 16px;
  padding: 0px;
  margin-top: 20px;
}

.svshowexres {
  font-size: 14px !important;
}

.srctopichead {
  float: left;
  padding-left: 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
}
.srctopichead svg {
  padding: 4px;
  margin-right: 4px;
  background-color: #050505;
  color: white;
}
.edprevtodhr {
  border-width: 2px;
  border-color: #ffffffe8;
  width: 90%;
  max-width: 600px;
  padding-bottom: 20px;
}

#changeavtr {
  padding: 4px 6px;
  bottom: 56px;
  right: 20px;
  position: fixed;
  background-color: #474747;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#changeavtr svg {
  width: 40px;
  height: 40px;
}
#changeavtr:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

#avtrbrdstsec {
  display: none;
  text-align: left;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #363632c0;
  overflow: hidden;
  z-index: 1000;
}
#avtrbrdst {
  border-radius: 10px;
  padding: 15px;
  width: 94%;
  max-width: 410px;
  bottom: 120px;
  right: 10px;
  margin-left: 20px;
  position: fixed;
  background-image: linear-gradient(-180deg, #202020c4, #ac6d14);
  box-shadow: 0px 5px 10px 0px #0f0f0fa2;
}
#recntavtr {
  padding: 10px;
  display: inline-block;
  max-width: 100px;
}
#avtrpicurl {
  display: none;
}
#avtrbrdname {
  text-align: left;
  display: inline-block;
  top: 20px;
  right: 10px;
  position: absolute;
  padding: 5px;
  width: 100%;
  max-width: 65%;
  font-size: 18px;
  font-weight: 600;
  background-color: #eaeaeadf;
  border: 2px solid #3535356c;
  border-radius: 10px;
  color: #444444;
}
#avtrbrdappr {
  display: inline-block;
  top: 80px;
  right: 10px;
  position: absolute;
  margin-bottom: 10px;
  margin-right: 0px;
  font-size: 14px;
  background-color: #555555a1;
  border: 2px solid #ffffff51;
  border-radius: 5px;
}
#avtrbrdappr svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.propicavtrbrd {
  background-color: wheat;
  padding: 4px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
#chooseavtrbrd {
  width: 100%;
  display: none;
}
#chooseavtr {
  width: 100%;
  padding: 10px;
  height: 180px;
  overflow-y: auto;
  max-width: 400px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
  margin-right: 40px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#chooseavtr::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
#chngproinfo select {
  width: 100%;
  margin-top: 10px;
}
.avtrpictemp {
  display: inline-block;
  padding: 2px;
  margin: 4px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.avtrpictemp:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  background-color: #ffffffe3;
  padding: 4px;
}
#srcedbtn {
  margin-bottom: 20px;
}
#srcedbtn button {
  padding: 10px 30px;
  background-color: #0000003f;
  width: 60%;
  border-radius: 20px;
  font-size: 16px !important;
}
#srcedbtn button:hover {
  background-color: #00000068;
}
.edsrvcstu {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 40px;
}
.edsrvcstu svg {
  border-radius: 2px;
  width: 24px;
  height: 24px;
  margin-top: -2px;
}
.experformsubmit {
  margin-top: 10px;
  padding: 4px 25px;
  margin: 4px;
  border: 2px solid #09b709;
  width: 30%;
  border-radius: 5px;
}
.delsttod,
.showsttod {
  display: inline-block;
  margin-left: 4px;
  font-size: 14px;
}
#backtotdbrd {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

#showedprotod img {
  cursor: zoom-in;
}

.card-img-top:active {
  background-color: white;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 100;
  cursor: auto;
  border-bottom: 4px solid blue;
}

.card-footer img:active {
  background-color: white;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 100;
  cursor: auto;
  border-bottom: 4px solid blue;
}
#closeButtonflsrcn {
  top: 0px;
  right: 20px;
  position: fixed !important;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  line-height: normal;
  outline: none;
}
#closeButtonflsrcn:hover {
  color: red;
}
#showServiceStu {
  margin-top: 0px;
  background-image: linear-gradient(
    -360deg,
    #022718,
    #f2f0ba,
    #5c5508
  ) !important;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  overflow-x: hidden;
  z-index: 100;
}
.serviceStu {
  margin-top: 50px;
  z-index: 100;
  display: none;
}
#showServiceStu hr {
  width: 60%;
  max-width: 600px;
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 4px;
}

#showdelnote {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 10px;
  background-color: #050505be;
  display: none;
}

#delnote {
  width: 100%;
  margin-top: 200px;
  padding: 20px;
  max-width: 300px;
  background-color: white;
}
#delnote h4 {
  text-align: center;
}
#delnote svg {
  width: 40px;
  height: 40px;
  color: #f53c3c;
}

#delnote button {
  padding: 4px 20px;
}

.sharebiton {
  float: right;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  color: #000000;
}
.sharebiton svg {
  width: 40px;
  height: 40px;
  padding: 10px;
}
.sharebiton:hover {
  background-color: #181717;
  color: white;
}

#lkcopied {
  bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  display: none;
}
#lkcopied div {
  bottom: 0px;
  left: 20px;
  position: absolute;
  width: 100%;
  max-width: 240px;
  font-size: 16px;
  padding: 10px;
  background-color: #292928;
  border-radius: 0px;
  color: white;
}

.exdtlsst {
  width: 100%;
  text-align: right;
  padding: 10px;
  margin-top: 40px;
  background-color: #ecebeb;
  border-radius: 4px;
}
.exdtlsst p {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.veremfalse {
  color: black;
}

#sidemenu {
  top: 160px;
  right: 0px;
  position: fixed;
  background-color: #161616;
  color: white;
  padding: 5px;
}

#sidemenu svg {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}

#sdmnone svg {
  width: 21px;
  height: 21px;
  color: white;
  margin-left: 4px;
  opacity: 0.8;
}
#hidenavl {
  display: none;
}
#sdmntwo {
  padding-top: 10px;
}
#sidemenu svg:hover {
  color: #fcdb1f;
}

#calendar {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  position: relative;
}
#waitingMessageCL {
  color: #252525;
  font-size: 12px;
  padding: 0px;
  top: 35px;
  right: 2px;
  position: absolute !important;
}
#calcontain {
  padding: 10px;
  top: 0px;
  left: 24%;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
  display: none;
}
#calcontain svg {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-top: -2px;
}
#calcontain p {
  text-align: left;
  width: 100%;
  max-width: 45%;
  background-color: #0a0a0a;
  font-size: 16px;
  color: #ecba14;
  padding-left: 4px;
  margin-bottom: 0px;
}

#clscal {
  background-color: #f01d1d;
  color: white;
  float: right;
  padding: 0 10px;
  cursor: pointer;
}

#clscal:hover {
  background-color: #fd4242;
}

#showedsrvc {
  width: 100%;
  margin-top: 0px;
  padding: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  background: #1616168c;
  text-align: center;
}
.srvcdived {
  min-width: 120px;
  max-width: 140px;
  height: 148px;
  background-color: white;
  padding: 5px;
  border-radius: 10px !important;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 4px;
  background: linear-gradient(-75deg, #e2e2e2, #c2c2c2, #e2e2e2);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}
.srvcdived:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  box-shadow: 0px 0px 4px 1px #0000ffb6;
}
.srvcdived:nth-child(5) {
  margin-right: 0px;
}
.srvcdived:nth-child(1) {
  -webkit-transform: scale(1);
  transform: scale(1);
  box-shadow: none;
  cursor: none;
}
.srvcdived img {
  width: 100%;
  padding: 10px;
  max-width: 110px;
  pointer-events: none;
  border-bottom: 1px solid #a5a5a5;
}
.srvcdived p {
  padding-top: 2px;
  font-size: 14px;
}

#crtelem {
  display: none;
  width: 100%;
  max-width: 50%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 10000;
  background-image: linear-gradient(-180deg, #d7d7d7, #020248e6);
}

.srvcconone {
  width: 100%;
  max-width: 550px;
  background-color: #ffffff;
  text-align: left;
  padding: 10px;
  box-shadow: 0px 2px 10px 1px #ffffff90;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.srvcconone iframe {
  height: 80vh !important;
}
.clssrvccon {
  top: 0px;
  left: 0px;
  position: absolute;
  padding: 6px 20px;
  background-color: #f54949;
  color: white;
  cursor: pointer;
  z-index: 10000;
  border: 3px solid #d3d3d3;
  font-weight: 700;
}
.clssrvccon:hover {
  background-color: #e92626;
}
.viewtds {
  width: 49%;
  bottom: 0px;
  right: 0px;
  position: relative;
  padding: 6px 15px;
  margin: 2px;
}
.stortds {
  width: 49%;
  bottom: 0px;
  right: 0px;
  position: relative;
  padding: 6px 15px;
  margin: 2px;
}

/* New UI ///////////////////*/

.stutitleastro {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  background-color: #2c2c2c;
  text-align: left;
  color: white;
  font-size: 20;
  padding: 10px;
  z-index: 10000;
  height: 45px;
  display: block;
  margin-top: -1px;
  padding-top: 11px;
  font-size: 14px;
  line-height: normal;
  justify-items: center !important;
}
.stutitleastro img {
  width: 24px !important;
  margin-right: 2px;
  pointer-events: none;
  box-shadow: 0 1px 3px 0px #7e7e7e5f;
}
#sdmnone {
  float: right;
  cursor: pointer;
}
#sdmnone svg:hover {
  color: #bdbcbc;
}
#divrightst {
  top: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  padding-bottom: 60px;
  display: block;
  background-image: linear-gradient(
    -360deg,
    #022718e7,
    #dec5adcb,
    #f8fbfdea
  ) !important;
}
#divrightst::-webkit-scrollbar {
  width: 0px;
}
#mscrndiv {
  padding-top: 40px;
  padding-bottom: 20px;
  display: none;
}
#mscrndiv svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: -5px;
}

#mscrndiv span {
  margin: 4px;
  padding: 14px 20px;
  background-color: #1b1b1b;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
#mscrndiv span:hover {
  background-color: white;
  color: #1b1b1b;
  border: 2px solid black;
}

/* Icon */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  max-width: 310px;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
  font-size: 18px;
}

ul.icons li:last-child {
  padding-right: 0;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icons a {
  color: #dfdfdf;
}
.icons a:hover {
  color: #bbbbbb;
}
#mwallsocial hr {
  border-color: #ecececda;
  width: 100%;
}

#mwallsocial {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Account Status */
#accntsts {
  text-align: left;
  background-color: #444444;
  color: #ffffffdc;
  font-size: 14px;
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 0px;
}

#accntstat {
  background-color: #a1a1a1ea;
  padding: 0px 10px;
  float: right;
}

#lgoutacnt {
  bottom: 0px;
  left: 0px;
  position: relative;
  background-color: #747474;
  color: #dbdada;
  padding: 2px 10px;
  cursor: pointer;
  width: 100%;
  text-align: right;
  border-bottom: 4px solid #bdbdbdda;
  margin-bottom: 0px;
}

#lgoutacnt:hover {
  background-color: #a3a3a3;
  color: #757575;
  transition: 0.2s;
}

/* mAstroComments */

#clsrmcmntbox {
  bottom: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-180deg, #f27373, #0e005c);
  text-align: left;
  padding: 5px;
  display: none;
  z-index: 20000;
}

#cmntbxtitle {
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
  width: 100%;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}
#rfshcmntbx {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
  padding: 2px 10px;
  background-color: #ffffff;
  float: right;
}
#rfshcmntbx:hover {
  background-color: #efefef;
}
#rfshcmntbx svg {
  width: 14px !important;
  height: 14px !important;
  margin-left: 5px;
}

#clscmntbx {
  float: right;
  padding: 2px 8px;
  background-color: #f72525;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
#clscmntbx:hover {
  background-color: #fd3f3f;
}

#divcmntbx {
  width: 100%;
  background-color: #242424de;
  height: 65vh;
  font-size: 14px;
  padding: 5px;
  overflow-y: auto;
  border-radius: 10px;
}
#divcmntbx::-webkit-scrollbar {
  width: 6px;
}
#divcmntbx::-webkit-scrollbar-thumb {
  background-color: #474747;
}
#divcmntbx hr {
  border-color: #464646a6;
}
#cmnttoclss {
  width: 100%;
}
#clsrmcmntfm {
  padding: 5px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  position: absolute;
}
#clsrmcmntfm textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  resize: none;
  overflow-y: auto;
  background-color: #e0e0e0;
}
#clsrmcmntfm textarea:focus {
  border: 1px solid #9c9c9c;
  background-color: white;
}
#clsrmcmntfm textarea::-webkit-scrollbar {
  width: 6px;
}
#subcmntbx {
  width: 100%;
}

.edcmnt {
  background-color: #c8c1ff;
  color: #2e2e2e;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  max-width: 500px;
}
.edcmnt img,
.edcmnt iframe {
  width: 100%;
  border-radius: 5px;
}

.stcmnt {
  background-color: #fcf5bf;
}

.cntdlt {
  display: none;
}
.cmmntor {
  margin: 0px;
}
.cmntrimg img {
  width: 30px;
}

.cmnttrnm {
  font-size: 16px;
  padding-left: 10px;
  font-weight: 500;
}
.cmnttim {
  border-bottom: 1px solid #a7a7a794;
  text-align: right;
  margin-top: 0px;
}

.cmntcon {
  background-color: #303030;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  word-wrap: break-word;
}

.delcmnted {
  float: right;
  cursor: pointer;
  font-size: 10px;
  margin: 2px;
  border-bottom: 1px solid #555;
}
#fmtitle {
  display: block;
  float: left;
  padding-right: 6px;
  font-size: 20px;
  margin-top: 3px;
}
#fmtitle svg {
  display: block;
  margin: 4px;
  width: 26px;
  height: 26px;
  padding: 4px;
  background: #1d1d1d;
  color: white;
  float: left;
  border-radius: 2px;
}
.loading {
  background: linear-gradient(-75deg, #bdbdbd, #888888, #a8a8a8);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.nocmntedc {
  margin-top: 25vh;
  color: white;
}

#notfycl {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #efb60c;
  padding: 10px 40px;
  text-align: center;
  z-index: 200000;
}

/* Media Screen */ /* Mobile */

@media (max-width: 1024px) {
  #examportalbtn {
    font-size: 14px;
  }
  #calendar {
    font-size: 12px;
  }
  .col-md-6 {
    flex: 1 0 100% !important;
    /* max-width: 100%; */
  }
  .srvcdived {
    min-width: 100px !important;
    height: 100px;
  }
  .srvcdived img {
    width: 60px;
  }
  #showedsrvc {
    text-align: left;
  }
  .propic {
    width: 100px;
    height: 100px;
  }
  .viewtds,
  .stortds {
    width: 48.5%;
  }
  #proshowedu-one {
    margin-bottom: -45px;
  }
  .ForTypePs,
  .ForTypePm {
    width: 100% !important;
  }
  .youvidF {
    height: 300px !important;
  }

  #showServiceStu {
    width: 100%;
    display: none;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  ul.icons li {
    padding: 0 0.75em 0 0;
  }
  #changeavtr {
    bottom: 3.5vh;
    right: 5vw;
    z-index: 2000;
  }
  .fullwidth {
    overflow-y: auto;
  }
  #fmcontainers {
    overflow-y: hidden;
  }

  #calcontain {
    display: none;
    margin-top: 45px;
    left: 0%;
    width: 100%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .serviceStu {
    display: none;
    max-width: 400px;
    margin-top: 1.5vh;
  }
  #crtelem {
    max-width: 100%;
  }

  #divrightst {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .stutitleastro {
    display: none;
    width: 100%;
    top: 0px;
    position: sticky !important;
  }
  .stuinfofooter {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .dashfooter {
    display: none !important;
  }
  .rspnsvfoot {
    display: block;
  }
  #hidenavl {
    display: inline-block;
  }
  #mscrndiv {
    display: block;
  }
  #clsrmcmntbox {
    max-width: 100%;
  }
  .srctopichead {
    font-size: 16px;
  }
  .srctopichead svg {
    width: 20px;
    height: 20px;
  }
  .meduiddiv h5 {
    font-size: 16px;
  }
  .dashitem {
    font-size: 16px;
    height: 155px;
  }
  .dashitem svg {
    width: 20px;
    height: 20px;
  }
  #fmtitle {
    font-size: 16px;
    margin-top: 5px;
  }
  #fmtitle svg {
    width: 20px;
    height: 20px;
  }
  #andservices {
    max-width: 350px !important;
  }
  #showProfileStu {
    padding-top: 10vh;
  }
  ::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
  }
}

@media (min-width: 1025px) {
  #showServiceStu {
    display: block;
    max-width: 24%;
  }
  #andservices {
    max-width: 310px !important;
  }
  .serviceStu {
    display: block;
  }
  .stutitleastro {
    display: block;
    max-width: 24%;
  }
  #calcontain {
    top: 0px;
    left: 24%;
    max-width: 45%;
    display: block;
  }
  #divrightst {
    display: block;
    max-width: 31%;
  }
  #crtelem {
    max-width: 50%;
  }
  .stuinfofooter {
    max-width: 31%;
  }
  #hidenavl {
    display: none;
  }
  #mscrndiv {
    display: none;
  }
  #clsrmcmntbox {
    max-width: 50%;
  }
  .dashitem {
    width: 220px;
    height: 160px;
    margin: 6px;
    font-size: 16px;
    text-align: left;
  }
  .dashitem svg {
    margin: 7px;
    width: 24px;
    height: 24px;
    padding: 4px;
    float: right;
    background-color: #282828;
    color: white;
    float: right;
  }

  .titlenvlft {
    padding: 6px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #6c6c6c;
  }
  #changeavtr {
    z-index: 1000;
  }
  .fullwidth {
    overflow-y: auto;
  }
  #fmcontainers {
    overflow-y: hidden;
  }
  .svgservicestu {
    width: 16px;
    height: 16px;
  }
}
